//.van-toast {
//   box-sizing: border-box;
//   padding: 8px 30px;
//   min-height: 45px;
//   // 移除最小宽度限制
//   min-width: unset;
//}

.van-toast {
   padding: 8px 30px;
   min-height: 29px;
   // 移除最小宽度限制
   min-width: unset;
}
